body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF; /* Fallback color */
}

.navbar {
    width: 100vw;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFF;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-logo img {
    height: 3em;
    margin-left: 3em;
}

.navbar-buttons {
    display: flex;
    gap: 4em;
}

.navbar-buttons a {
    background: none;
    border: none;
    color: #676767;
    font-size: 1.3em;
    cursor: pointer;
    text-decoration: none;
}

.navbar-buttons a:hover {
    color: black;
}

.navbar-login button {
    background-color: #3572CC;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 3.4em;
}

.navbar-login button:hover {
    background-color: #285a99;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 60px; /* Adjust to ensure content is below navbar */
}

/* To-Do List Styles */
.header {
    background-color: #3572CC;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 80%; 
    max-width: 1200px;
    height: 500px; /* Set the height here */
    overflow-y: scroll; /* Enable scrolling if the list is too long */
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Add a "close" button to the list items */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}
